body{
    background-color: black;
    display: flex;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
  
}
header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;

}
header nav{
    display: flex;
    margin-right: 5rem;

    
    align-items: center;
    gap: 20px;
    color: white;
    p{
        
    }
    
   
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

hero{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    gap: 20px;
    background-color: white;
    img{
        width: 70Vw;
        padding-left: 0;
        margin-left: 0;
    }
    width: 100vw;
    a{
        color:blue;
    }
    ul{
        width: 15vw;
        justify-content: flex-start;
    }
   
}
 h2{
    color: white;
 }

 article{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
   
 }

 section1, section2, section3, section4, section5, section6{
    img{
        width: 30vw;
    }
   
    padding: 2rem;
 }

 